.container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 50px;
    background: var(--color-bg);
    overflow: auto;
  }
}