.pcList {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100px;
  background: #333;
  border-right: 5px solid var(--color-border);
  box-sizing: border-box;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px 10px;

      &.logo {
        margin: 0;
        border-bottom: 5px solid var(--color-border);
      }

      a {
        background: url("/sp-icon.png") no-repeat;

        &.main {
          width: 34px;
          height: 29px;
          background-position-y: 0;
        }

        &.about {
          width: 24px;
          height: 30px;
          background-position-y: -30px;
        }

        &.portfolio {
          width: 24px;
          height: 30px;
          background-position-y: -61px;
        }

        &.contact {
          width: 30px;
          height: 24px;
          background-position-y: -92px;
        }

        &.on {
          background-position-x: -41px;
        }

        span {
          position: absolute;
          left: 50%;
          bottom: 8px;
          color: #fff;
          opacity: 0;
          transform: translateX(-50%);
          transition: opacity 0.3s ease-in-out;
        }

        &:hover {
          span {
            opacity: 1;
          }
        }
      }

      &.mode {
        border-top: 5px solid var(--color-border);

        button {
          background: url("/sp-icon.png") no-repeat;
          background-position: 0 -117px;
          width: 36px;
          height: 35px;

          &.on {
            background-position-x: -41px;
          }
        }
      }
    }
  }
}

.mobileMenu {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 22px;
  z-index: 1;
  background: url("/sp-menu.png") no-repeat;
  background-size: 66px;
  background-position-x: var(--icon-menu-x);
}

.mobileList {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
  overflow: auto;
  z-index: 9999;

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 18px;
    background: url("/sp-close.png") no-repeat;
    background-size: 36px;
    background-position-x: var(--icon-close-x);
  }

  ul {
    margin: 50px 0 0 0;

    li {
      text-align: center;
      border-bottom: 3px solid var(--color-bg-secondary);

      a,
      button {
        display: block;
        width: 100%;
        padding: 15px 0;
        color: var(--color-text);
      }
    }
  }
}
